__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.env
*.env.local
.aws/
credentials
*.tfstate
*.tfstate.backup
.terraform/
*.zip
.idea/
.vscode/
.DS_Store
output_test_*.json
.cache/
lambda_package/
lambda_package_transform/
layer_pyarrow/
layer_pandas/
layer_all/
response.json
response_transform.json
*.csv.gz
infra/terraform/.terraform/
.terraform.lock.hcl